# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{java_home}}
Environment=CATALINA_PID={{inst_root}}/apache-tomcat-{{tomcat_version}}/temp/tomcat.pid
Environment=CATALINA_HOME={{inst_root}}/apache-tomcat-{{tomcat_version}}"
Environment=CATALINA_BASE={{inst_root}}/apache-tomcat-{{tomcat_version}}"
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{inst_root}}/apache-tomcat-{{tomcat_version}}/bin/startup.sh
ExecStop={{inst_root}}/apache-tomcat-{{tomcat_version}}/bin/shutdown.sh

User={{tomcat_user}}
Group={{tomat_group}}
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
